<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>商品管理</title>

	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/bs4.pop.css">
	<link rel="stylesheet" href="assets/css/new_file.css">
	<link rel="stylesheet" href="assets/css/notiflix.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
	<style type="text/css">
		body{
			overflow:hidden
		}
	
	</style>


</head>
<body>

<div id="app">
<div class="col-lg-6" >
    <div class="card"style="width: 1520px">

        <div class="card-body" width="100%">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>

                    <th colspan="7" >
                        <div class="card-body" >
                                
                                <input  type="text" v-model="ps.pname" placeholder="请输入商品名称"  class="mr-3 form-control"
                                        style="width: 250px;display: inline-block" value="">   
								<input type="text"  placeholder="最低价" class="mr-3 form-control"
								  		style="width: 150px;display: inline-block" v-model="ps.minprice"   class="form-control" >
								<input type="text"  placeholder="最高价" class="mr-3 form-control"
										style="width: 150px;display: inline-block" v-model="ps.maxprice"   class="form-control" >

								<select class="form-control" v-model="ps.ispflag" id="sel1" style="width: 150px;display: inline-block">
				                  <option value="">是否上架</option>
				                  <option value="0" >是</option>
				                  <option value="1" >否</option>
								</select>
                                &nbsp&nbsp&nbsp;
                                <button @click="search()" class="btn btn-info">搜索</button> 
                                

                        </div>
                    </th>

                    <tr style="text-align: center;">
                        <th>商品编号</th>
                        <th>商品名称</th>
                        <th>商品图片</th>
                        <th>商品预览</th>
                        <th>商品价格</th>
                        <th>商品状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    
		                <tr v-for="p in pageData"  style="text-align: center;">
		                   <td>{{p.pid}}</td>
		                   <td>{{p.pname}}</td>
		                   <td>
		                       <image  :src="p.pimage"  width="23px" />
		                   </td>
		                   <td><button type="button" data-toggle="modal" @click="showImage(p.pid)"  class="btn btn-info">查看/修改</button></td>
		                   <td>{{p.shopPrice}}</td>
		                   <td v-if="p.pflag==1">
		                   
		                   <span style="color:red">下架</span>
		                   </td>
		                   <td v-else>
		                   <span style="color:green">上架</span>
		                   </td>
		                   <td>
								<button type="button" data-toggle="modal" onclick="getgoodsTypeByUpdate()"  @click="queryGoodsByPid(p.pid)" class="btn btn-info" id="xiugai">修改 </button>
		                   		<button type="button"  class="btn btn-info desc" data-toggle="modal"  @click="showgoodsdesc(p.pid)" >介绍</button>
		                   </td>
		                </tr>
                    
                    </tbody>
                    
                    <tfoot>
                    	<tr>
                    		<td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
                    		<td colspan="3" style="text-align: right">
                    			共{{pageInfo.totalCount}}条数据
		                         &nbsp;当前 {{pageInfo.currentPage}}/{{pageInfo.totalPage}} 页
		                         &nbsp;每页显示 8 条
                    			<button type="button" class="btn btn-info" @click="changePage(1)">首页</button>
                                <button type="button" class="btn btn-info" @click="changePage(pageInfo.upPage)">上一页 </button>
                    			<button type="button" class="btn btn-info" @click="changePage(pageInfo.nextPage)">下一页 </button>
                                <button type="button" class="btn btn-info" @click="changePage(pageInfo.totalPage)">尾页</button>
                    		</td>
                    	</tr>
                    </tfoot>
				</table>
			</div>
		</div>
	</div>
</div>


<!-- 修改商品的模态框 -->
<div id="myModalUpdate" tabindex="-1" role="dialog" class="modal fade text-left" style="display: none;" aria-hidden="true">
    <div role="document" class="modal-dialog">
        <div class="modal-content" >
            <!-- 模态框头部 -->
	        <div class="modal-header">
	          <span class="modal-title">修改商品</span>
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	        </div>
                <div class="modal-body" >
                	<div class="form-group">
                        <label>商品名称</label>
                        <input type="text" v-model="updateinfo.pname" placeholder="商品名称" class="form-control" name="pname">
                    </div>
                    <div class="form-group">
                        <label>商品标价</label>
                        <input type="text" v-model="updateinfo.marketPrice" placeholder="商品标价" class="form-control" name="marketPrice">
                    </div>
                    <div class="form-group">
                        <label>商品售价</label>
                        <input type="text" v-model="updateinfo.shopPrice" placeholder="商品售价" class="form-control" name="shopPrice">
                    </div>
                    <div class="form-group">
                        <label>商品描述</label>
                        <textarea class="form-control" rows="2" v-model="updateinfo.pdesc" placeholder="请输入商品描述"></textarea>
                    </div>
                    <div class="form-group">
                        <label>是否上架</label>
                        <select name="pflag" v-model="updateinfo.pflag">
                            <option value="0">是</option>
                            <option value="1">否</option>
                        </select>&nbsp;&nbsp;&nbsp;
                        <!-- 这里是数据库中获取的数据 -->
                        <label>商品类别</label>
                        <select id="sel2" name="cid" v-model="updateinfo.cid" >
							
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">取消</button>
                    <button id="upload" @click="updateGoodsInfo()" data-toggle="modal" class="btn btn-primary">确认修改</button>
                </div>
        </div>
    </div>
</div>




<!-- 查看商品介绍模态框 -->
<div id="myModalDesc" tabindex="-1" role="dialog" class="modal fade text-left" style="display: none;" aria-hidden="true">
    <div role="document" class="modal-dialog">
        <div class="modal-content" >
            <!-- 模态框头部 -->
	        <div class="modal-header">
	          <span class="modal-title">商品介绍</span>
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	        </div>
                <div class="modal-body" style="margin:20px 50px 20px ;text-align: center;" >
                	<div class="form-group">
                        <p>{{desc.pdesc}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">取消</button>
                </div>
        </div>
    </div>
</div>





<!-- 查看/修改商品图片模态框 -->
<div id="myModalimg" tabindex="-1" role="dialog" class="modal fade text-left" style="display: none;" aria-hidden="true">
    <div role="document" class="modal-dialog">
        <div class="modal-content" >
            <!-- 模态框头部 -->
	        <div class="modal-header">
	          <span class="modal-title">图片预览</span>
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	        </div>
                <div class="modal-body"  style="text-align: center;" >
                	
					<form id="FormImg" enctype="multipart/form-data" >
					<div class="form-group">
                        <img :src="img.pimage" id="showimg"  width="350px" height="500px">
                    </div>
                    	<input type="file" accept="image/*" name="updateimg" id="updateimg" style="display:none;">
						<input type="button" class="btn btn-info" value="更改图片" onclick="$('#updateimg').click()"> 
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">取消</button>
                    <button type="button" @click="updateImgbtn(img.pid)" id="updateImgbtn" data-dismiss="modal" class="btn btn-primary">确认修改</button>
                </div>
        </div>
    </div>
</div>


<!-- app -->
</div>



		<script type="text/javascript" src="assets/js/vendor/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/js/vue.js"></script>
		<script src="assets/js/bs4.pop.js"></script>
		<script src="assets/js/j.js" type="text/javascript"></script>
		<script type="text/javascript">
		
	    /*点击修改，获取商品分类*/
	   function getgoodsTypeByUpdate(){
	        $.post("pro?m=getallgoodsType",{},function(back) {
	            var data = back.data;
	            $("#sel2").empty();
            	for(var i =0;i<data.length;i++){
	                var option = $("<option value="+data[i].cid+">"+data[i].cname+"</option>");
	                $("#sel2").append(option);
            	}
	        },"json")
	    }
	  
	  
	  
	  	 /*VUE实例*/
	     var app = new Vue({
	    	  el:"#app",
	    	  data:{
	    		  ps:{
	    		  		ispflag:""
	    		  },
	    		  pageInfo:{},
	    		  pageData:[],
	    		  img:{},
	    		  desc:{},
	    		  updateinfo:{}
	    	  },
	    	  methods:{
	    		  search:function(){
	    			  sendReq(1);
	    		  },
	    		  changePage:function(p){
	    			  sendReq(p);
	    		  },
	    		  /*展示图片模态框*/
	    		  showImage(pid){
	    		  	  $.get(
	    		  	  	"pro?m=getProImgByPID&pid="+pid,function(back){
	    		  	  		if(back.code == 10104){
	    		  	  			app.img = back.data
	    		  	  			$("#myModalimg").modal({show:true});
	    		  	  		}else{
	    		  	  			alert("获取图片失败，请稍后再试！")
	    		  	  		}
	    		  	  	}
	    		  	  )
	    		  },
	    		  /*展示商品介绍*/
	    		  showgoodsdesc(pid){
	    		  	  $.get(
	    		  	  	 "pro?m=showGoodsDesc&pid="+pid,function(back){
	    		  	  	 	app.desc = back.data
	    		  	  	 	$("#myModalDesc").modal({show:true});
	    		  	  	 }
	    		  	  )
	    		  },
	    		  /*查询商品信息*/
	    		  queryGoodsByPid(pid){
	    		  	  $.post(
	    		  	  	  "pro?m=queryGoodsByPid",{pid:pid},function(back){
	    		  	  	  	if(back.code == 10108){
	    		  	  	  		app.updateinfo = back.data
	    		  	  	  	 	$("#myModalUpdate").modal({show:true});
	    		  	  	  	}else{
	    		  	  	  		alert("获取商品信息失败，请稍后再试！");
	    		  	  	  	}
	    		  	  	  }
	    		  	  )
	    		  },
	    		  /*修改商品信息*/
	    		  updateGoodsInfo(){
	    		  	 $.post(
	    		  	 	 "pro?m=updateGoodsInfo",app.updateinfo,function(back){
	    		  	 	 	 if(back.code == 10110){
	    		  	 	 	 	 bs4pop.notice('修改成功！', {type: 'success'});
	    		  	 	 	 	 window.location.reload();
	    		  	 	 	 }else{
	    		  	 	 	 	 $('#myModalUpdate').modal('hide');
	    		  	 	 	 	 bs4pop.notice('修改失败，操作不规范！', {type: 'danger'});
	    		  	 	 	 }
	    		  	 	 }
	    		  	 )
	    		  },
	    		  /*修改商品图片*/
	    		  updateImgbtn(pid){
	    			  
		    		  	var foo = new FormData(FormImg);
				         $.ajax({
				       	      url:"pro?m=updateGoodsImg&pid="+pid,
				       	      type:"post",
				       	      data:foo,
				       	      processData:false,
				       	      contentType:false,
				       	      success:function(back){
				       	    	 alert(back.msg);
				       	      	window.location.reload();
				       	      }
			        	  });
	    		  }
	    	  }
	      });
	  
	      /*分页发送的页码数据*/
	      function sendReq(page){
	    	$.post("pro?m=getpro&page="+page ,  app.ps  , function(back){
	    		app.pageInfo = back.data.pageInfo;
	    		app.pageData = back.data.pageDate;
	    	});  
	      }
	  	  /*js自动调用分页方法*/
	      sendReq(1);
		
		  
		  /*修改图片的img标签改变*/
		 updateimg.onchange = function(){
			 var reader =  new FileReader();
			 reader.readAsDataURL(  updateimg.files[0] );
			 reader.onload = function(){
				 showimg.src =  reader.result;
			 }
		}
		  	  
	  
		 $(function(){
		  		Notiflix.Confirm.Init();
		  		clickToClose:true
		  });
		  
	  </script>

</body>
</html>