<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>采购申请</title>
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/bs4.pop.css">
</head>
<body>

<div id="app">
<div class="col-lg-6" >
    <div class="card"style="width: 1520px">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <th colspan="7" >
                        <div class="card-body" >
                                <label  class="sr-only">key</label>
                                <input  type="text" v-model="ps.pname" placeholder="商品名称"  class="mr-3 form-control"
                                        style="width: 250px;display: inline-block" >
								<select class="form-control" v-model="ps.state" style="width: 150px;display: inline-block">
				                  <option value="" >审核结果</option>
				                  <option value="0" >通过</option>
				                  <option value="1" >待审核</option>
				                  <option value="2" >未通过</option>
								</select>
                                &nbsp&nbsp;
                                <button @click="search()" class="btn btn-info">搜索</button> 
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;
                                <button type="button"  class="btn btn-success" onclick="getallgoodsType()">新品采购 </button>
                        </div>
                    </th>

                    <tr style="text-align: center;">
                        <th>商品编号</th>
                        <th>商品名称</th>
                        <th>商品图片</th>
                        <th>商品价格</th>
                        <th>是否通过</th>
                        <th>审核意见</th>
                    </tr>
                    </thead>
                    <tbody>
                    
		                <tr v-for="p in pageData" style="text-align: center;">
		                   <td>{{p.pid}}</td>
		                   <td>{{p.pname}}</td>
		                   <td>
		                       <image  :src="p.pimage"  width="23px" />
		                   </td>
		                   <td>{{p.shopPrice}}</td>
		                   <td v-if="p.state == 0">
		                   		<span style="color: green;">
		                   			通过
		                   		</span>
		                   </td>
		                   <td v-else-if="p.state == 1">
		                   		<span style="color: orange;">
		                   			待审核
		                   		</span>
		                   </td>
		                   <td v-else>
		                   		<span style="color: red;">
		                   			未通过
		                   		</span>
		                   </td>
		                   <td>{{p.msg}}</td>
		                </tr>
                    
                    </tbody>
                    
                    <tfoot>
                    	<tr>
                    		<td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
                    		<td colspan="3" style="text-align: right">
                    			共{{pageInfo.totalCount}}条数据
		                         &nbsp;当前 {{pageInfo.currentPage}}/{{pageInfo.totalPage}} 页
		                         &nbsp;每页显示 8 条
                    			<button type="button" class="btn btn-info" @click="changePage(1)">首页</button>
                                <button type="button" class="btn btn-info" @click="changePage(pageInfo.upPage)">上一页 </button>
                    			<button type="button" class="btn btn-info" @click="changePage(pageInfo.nextPage)">下一页 </button>
                                <button type="button" class="btn btn-info" @click="changePage(pageInfo.totalPage)">尾页</button>
                    			
                    		</td>
                    	</tr>
                    </tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
</div>


<!-- 新增商品的模态框 -->
<div id="myModaladd" tabindex="-1" role="dialog" class="modal fade text-left" style="display: none;" aria-hidden="true">
    <div role="document" class="modal-dialog">
        <div class="modal-content" >
            <!-- 模态框头部 -->
	        <div class="modal-header">
	          <span class="modal-title">新增商品</span>
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	        </div>
			<form id="myForm" enctype="multipart/form-data" >
                <div class="modal-body" >
                	<div class="form-group">
                        <label>商品名称</label>
                        <input type="text" placeholder="商品名称" class="form-control" name="pname">
                    </div>
                    <div class="form-group">
                        <label>商品标价</label>
                        <input type="text" placeholder="商品标价" class="form-control" name="marketPrice">
                    </div>
                    <div class="form-group">
                        <label>商品售价</label>
                        <input type="text" placeholder="商品售价" class="form-control" name="shopPrice">
                    </div>
                    <div class="form-group">
                        <label>商品描述</label>
                        <input type="text" placeholder="商品描述" class="form-control" name="pdesc">
                    </div>
                    <div class="form-group">
                        <label>是否上架</label>
                        <select name="pflag">
                            <option value="0">是</option>
                            <option value="1">否</option>
                        </select>&nbsp;&nbsp;&nbsp;
                        <label>是否热卖</label>
                        <select name="isHot">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>&nbsp;&nbsp;&nbsp;
                        <!-- 这里是数据库中获取的数据 -->
                        <label>商品类别</label>
                        <select id="sel" name="cid" >
							
                        </select>
                    </div>
                    <div class="form-group">
                        <label>商品图片</label>
                        <input type="file"  accept="image/*" name="pimage" id="pimage"/>
                    </div>
					<img src="" width="80px" height="120px" id="bar">
                </div>
             </form>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">取消</button>
                    <button id="upload" data-toggle="modal" class="btn btn-primary">确认新增</button>
                </div>
        </div>
    </div>
</div>

		<script src="assets/js/bs4.pop.js"></script>
		<script type="text/javascript" src="assets/js/vendor/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/js/vue.js"></script>
		<script type="text/javascript">
		
		/*点击采购新品，获取商品分类*/
	    function getallgoodsType(){
	        $.post("pro?m=getallgoodsType",{},function(back) {
	            var data = back.data;
	            $("#sel").empty();
	            for(var i =0;i<data.length;i++){
	                var option = $("<option value="+data[i].cid+">"+data[i].cname+"</option>");
	                $("#sel").append(option);
	                $("#myModaladd").modal({show:true});
	            }
	        },"json")
	    }
	    
		/*选择图片以后，展示图片*/
		  pimage.onchange = function(){
		  		var reader = new FileReader();
		  		reader.readAsDataURL( pimage.files[0] );
		  		reader.onload = function(){
		  			bar.src = reader.result;
		  		}
		  }
		  
		  /*点击新增商品以后的操作*/
		  upload.onclick = function(){
		  		var foo = new FormData(myForm);
		  		$.ajax({
		  			url:"pro?m=addPro",
		  			type:"post",
		  			data:foo,
		  			processData:false,
		  			contentType:false,
		  			success:function(back){
		  				if(back.code == 10009){
		  					window.location.reload()
		  				}else{
		  					 $('#myModaladd').modal('hide');
		  					 bs4pop.notice('添加失败！', {type: 'danger'});
		  				}
		  			}
		  		})
		  }
		  
		
		var app = new Vue({
	    	  el:"#app",
	    	  data:{
	    		  ps:{
	    		  		state:""
	    		  },
	    		  pageInfo:{},
	    		  pageData:[],
	    	  },
	    	  methods:{
	    	  	  //搜索
	    		  search:function(){
	    			  sendReq(1);
	    		  },
	    		  //页码改变
	    		  changePage:function(p){
	    			  sendReq(p);
	    		  },

	    	  }
	      });
	      

		 /*发送分页数据*/
	     function sendReq(page){
	    	$.post("pro?m=getAuditResult&page="+page,  app.ps  , function(back){
	    		app.pageInfo = back.data.pageInfo;
	    		app.pageData = back.data.pageData;
	    	});  
	      }
	      
	      /*初始调用分页，并且为从第一页开始*/
	      sendReq(1);
		
		</script>
	
</body>

</html>